{% extends 'main/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static "css/equipment.css" %}">
 {% endblock %}

{% block content %}
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 offset-sm-5" id="group-selector">
				<p class="sort-by">Cортувати за</p>
					<select>
						<option value="За алфавітом">За алфавітом</option>
						<option value="За статусом">За статусом</option>
					</select>
			</div>
	 </div>
		{% for iteam in iteams %}
		<div class="row test">
			<div class="col-sm-2 col-md-2 offset-md-2 offset-sm-2 test1">
				<img class="photo-equipment" src="../../static/img/inventoryicon.png" alt="">
			</div>
			<div class="col-sm-4 col-md-4 test1">
				<h6 class="header-equipment">{{ iteam.title }}</h6>
			</div>
			<div class="col-sm-2 col-md-2 test1 test2">
				{{ iteam.status }}
			</div>
			<div class="col-sm-2 col-md-2"></div>
		</div><hr class="hr-content">
		{% endfor %}

	</div>
</section>
{% endblock %}

{% block extra_js %}
{% endblock %}
