{% load staticfiles %}

  <table>
  <thead>
    <tr>
      <th>Назва</th>
      <th>Стан</th>
    </tr>
  </thead>
  <tbody>
    {% for iteam in iteams %}
    {% if iteam.status.id == 1 %}
    <tr class="green-row">
      <td data-label="Назва">
          <a href="{% url 'iteam_details' pk=iteam.id %}">{{ iteam.title }}</a>
        </td>
      <td data-label="Статус">{{ iteam.status }}</td>
    </tr>
    {% endif %}
    {% if iteam.status.id == 2 %}
    <tr class="gray-row">
        <td data-label="Назва">
          <a href="{% url 'iteam_details' pk=iteam.id %}">{{ iteam.title }}</a>
        </td>
      <td data-label="Статус">{{ iteam.status }}</td>
    </tr>
    {% endif %}
    {% if iteam.status.id == 3 %}
    <tr class="yellow-row">
      <td data-label="Назва">
          <a href="{% url 'iteam_details' pk=iteam.id %}">{{ iteam.title }}</a>
        </td>
      <td data-label="Статус">{{ iteam.status }}</td>
    </tr>
    {% endif %}
    {% if iteam.status.id == 4 %}
    <tr class="red-row">
      <td data-label="Назва">
          <a href="{% url 'iteam_details' pk=iteam.id %}">{{ iteam.title }}</a>
        </td>
      <td data-label="Статус">{{ iteam.status }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
