{% extends 'main/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static "css/equipment.css" %}">
 {% endblock %}

{% block content %}
<section id="content">
	<div class="container">
		<div class="row test">
			<div class="col-md-2 offset-md-2">
				<img class="photo-equipment" src="../../static/img/inventoryicon.png" alt="">
			</div>
			<div class="col-md-6">
				<h6 class="header-equipment">Samsung Galaxy J7 (2017) J730 Black + чехол</h6>
			</div>
			<div class="col-md-2">
				статус	
			</div>
		</div><hr class="hr-content">
	

	</div>
</section>
{% endblock %}

{% block extra_js %}
{% endblock %}
