{% extends 'main/base.html' %}

{% load staticfiles %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static "css/equipment.css" %}">
 {% endblock %}

{% block content %}
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 offset-sm-5" id="group-selector">
				<p class="sort-by sort-by-js">Cортувати за</p>
					<select>
						<option class="sort-by-js" value="title">За алфавітом</option>
						<option class="sort-by-js" value="status">За статусом</option>
					</select>
			</div>
	 </div>
	 <div id="equipment_content">
	    {% include 'equipment_content.html' %}
   </div>


	</div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/sort.js" %}"></script>
{% endblock %}
