{% extends 'main/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/iteam_details.css" %}">
{% endblock %}

{% block content %}
	<section id="content">
		<div class="container">

			<div class="row">

				<div class="col-md-5 col-lg-5">
  
					{% if pr.photo %}
            <img  src="{{ iteam.photo.url }}">
          {% else %}
             <img class="photo-items" src="{% static "img/inventoryicon.png" %}">
          {% endif %}
          
				</div>

				<div class="col-md-7 col-lg-7">

					<div class="col-sm-12 col-md-12">
						<h5 class="header-items">{{ iteam.title }}</h5>
					</div>
					<div class="col-sm-12 col-md-12">
						<p class="description-items">{{ iteam.description }}</p>
					</div>
					<div class="col-sm-4 col-md-12 col-lg-5">
						<span id="ajax-progress-indicator">Зачекайте, зберігається стан...</span>
						<p id="iteam-status" class="status-items" data-status_id="{{ iteam.status.id }}">{{ iteam.status.name }}</p>
					</div>
						<div id="btns-status" class="col-md-12"  data-url="{% url 'change_status' %}" data-iteam_id = "{{ iteam.id }}"> {% csrf_token %}

							<button type="button" id="btn2" class="btn btn-default btn-status change-icon" data-post_status_id="{{ 2 }}">Взяти у прокат</button>
							<button type="button" id="btn1" class="btn btn-default btn-status change-icon" data-post_status_id="{{ 1 }}">Вернути на склад </button>
							<button type="button" id="btn3" class="btn btn-default btn-status change-icon" data-post_status_id="{{ 3 }}">Потребує ремонту </button>
							<button type="button" id="btn4" class="btn btn-default btn-status change-icon" data-post_status_id="{{ 4 }}">Здати в ремонт </button>

						</div>

				</div>

			</div>

		</div>
	</section>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/iteam-details.js" %}"></script>
{% endblock %}
