{% extends "main/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/logs.css" %}">
{% endblock %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Користувач</th>
      <th>Предмет</th>
      <th>Стан до</th>
      <th>Стан після</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      {% if log.owner.first_name and log.owner.last_name %}
        <td data-label="Користувач">{{ log.owner.first_name }} {{ log.owner.last_name }}</td>
      {% else %}
        <td data-label="Користувач">{{ log.owner.username }}</td>
      {% endif%}
      <td data-label="Обладнання">{{ log.iteam }}</td>
      <td data-label="Стан до">{{ log.pre_status }}</td>
      <td data-label="Стан після">{{ log.post_status }}</td>
      <td data-label="Дата">{{ log.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
