html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
	height: auto;
}

.btn-margin {
  margin-left: 35px;
}

.btn-default {
	margin-top: 10px;
  float: left;
}

.buttons-koval {
  margin-top: 20px;
  margin-bottom: 20px;
}
