#content {
	margin-top: 50px;
}

.description-items {
	font-size: 14px;
}

.status-items {
	background-color: #B1E77D;
	text-align: center;
	color: white;
	font-size: 20px;
}

#ajax-progress-indicator {
  display: none;
}
